
:root{

}

#loader-icon{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border: 2px solid red;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.2);
}