:root{
    --border: rgba(255, 0, 0, 1);
    --media-outline: rgba(0, 0, 255, 1);
    --footer-elements-margin: 3vh;
    --grandchild-media-dimensions: 70vw;
    --program-content-max-width: 75vw;
    --media-border-radius: 30px;
}


#sponsors::-webkit-scrollbar{
    width: 40px;
}


#sponsors::-webkit-scrollbar-thumb{
    background-color: purple;
}


body{
    margin: 0px;
}

html, body{
    border: 2px solid var(--border);
    height: 100%;
    width: 100%;
    overflow-x: hidden;

}

a{
    text-decoration: none;
    color: inherit;
}

header{
    border: 2px solid var(--border);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4vh;
}


#logo-container{
    margin-bottom: 0vh !important;
}

#logo-image{
    border: 2px solid var(--border);

    height: 14vw;
    width: 14vw;
}

#logo-text-parent{
    margin-bottom: 0vh !important;
}

#logo-text-parent > *{
    max-width: none !important;
    align-self: flex-start;
}

#logo-text-top{
    height: auto;
    width: auto;
    font-size: 6vw;
    border: 2px solid var(--border);
}

#logo-text-bttm{
    font-size: 6vw;
    border: 2px solid var(--border);
}


header > *{
    max-height: 12vh;
    margin: 4vw;
}

#menu-container{
    border: 2px solid var(--border);
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-button{
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../../icons/icons8-menu-48.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 2px solid var(--border);
    height: 13vw;
    width: 13vw;
}

.media{
    border: 2px solid var(--media-outline) !important;
    border-radius: var(--media-border-radius) !important;
}

.content-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    border: 2px solid var(--border);
    margin-bottom: 6vh;
}

.column-parent{
    flex-direction: column;
}

.column-parent > *{
    max-width: 75%;
    margin-bottom: 0vh;
}

.left-parent{
    justify-content: flex-start;
}

.left-parent > *{
    max-width: 55%;
}

.offset-child{
    border: 2px solid var(--border);
    border-radius: 60px;
    height: auto;
    width: auto;
    background-color: grey;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 3vh;
    padding-bottom: 3vh;

}

.right-offset-child{
    justify-content: flex-start;
    left: 20%;
}

.left-offset-child{
    justify-content: flex-end;
    right: 20%;
}

.offset-content-grandchild{
    border: 2px solid var(--border);
    height: var(--grandchild-media-dimensions);
    width: var(--grandchild-media-dimensions);
}

.left-offset-grandchild{
    margin-right: 40vw;
    margin-left: 5vw;
}

.right-offset-grandchild{
    margin-left: 40vw;
    margin-right: 5vw;
}

h1{
    text-align: center;
    border: 2px solid var(--border);
    margin-left: 5vw;
    font-size: 10vw;
}

h2{
    border: 2px solid var(--border);
    font-size: 7vw;
    text-align: center;
    font-weight: 100;
    margin-top: 1vh;
}

h3{
    border: 2px solid var(--border);
    font-size: 6vw;
    font-weight: lighter;
}



.about-title{
    margin-left: 0vw;
}

#options-container{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
    position: fixed;
    left: -175%;
    top: 5%;
    height: 90vh;
    border: 2px solid var(--border);
    background-color: grey;
    padding-top: 4vh;
    border-radius: 50px;
    transition: left 1s ease-in-out;
}

.show-menu{
    left: -15% !important;
}

#options-container *{
    font-size: 10vw;
}

.floating-container{
    border: 2px solid var(--border);
    width: auto;
    height: auto;
    margin-left: 40vw;
    margin-right: 20vw;
}

#actions{
    flex-direction: column;
    width: 100%;
    margin-top: 15vh;
}

.action-card{
    background-color: grey;
    margin-bottom: 7.5vh;
    width: 50%;
    padding: 10%;
    font-size: 5vw;
    border-radius: 30px;
}

#programs{
    flex-direction: column;
}

#programs > *{
    margin-bottom: 4vh;
}

#programs > * > *{
    margin-bottom: 0vh;
    height: auto;
    width: auto !important;


}
#programs > * > * > *{
    max-width: 80vw !important;
}

.program-media{
    height: 45vw;
    width: 80vw;
}

.program-title-container{
    border: 2px solid var(--border);
    height: auto !important;
    width: 100%;
    display: flex;
    align-items: center;
}

.program-title-container-right{
    justify-content: flex-end;
}
.program-title-container-left{
    justify-content: flex-start;
}

.program-title-container > p{
    overflow-x: hidden;
    font-size: 8vw;
    font-weight: 100;
}

.program-action-bar{
    height: auto !important;
    width: 100%;
    border: 2px solid var(--border);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.program-action-bar-right{
    justify-content: flex-end;
}
.program-action-bar-left{
    justify-content: flex-start;
}

.program-action-bar a{
    font-size: 6vw;
}


#contact-form{
    margin-bottom: 0vh;
}


#contact-form div{
    max-width: none;
    width: 100%;
}

#contact-form select{
    font-size: 5vw;
    width: 100%;
}

.input-label{
    font-size: 3vw;
    justify-content: flex-start;
}

.instruction-text-form{
    border: 2px solid var(--border);
    min-width: 80vw;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 2vh;
}

#contact-form input{
    font-size: 5vw;
    width: 100%;
}

input{
    border-radius: 10px;
}

#contact-form form{
    min-width: 80vw;
}

#contact-form form > div{
    margin-bottom: 4vh;
    align-items: self-start;
}

textarea{
    width: 100%;
    border-radius: 10px;
    font-size: 4vw;
}

#submit-container{
    margin-top: 7vh;
    height: auto;
    width: 100%;
    margin-bottom: 0vh;
}

#submit-container > button{
    border-radius: 10px;
    font-size: 6vw;
    width: 100%;
}

footer{
    background-color: grey;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-bottom: 0vh !important;
}
footer > *{
    justify-content: space-evenly !important;
    width: 90% !important;
    margin-top: var(--footer-elements-margin);
    margin-top: var(--footer-elements-margin);
}

footer > * > *{
    font-size: 5vw;
}

button{
    border: 2px solid var(--border);
}

#socials-container{
    margin-top: 5vh !important;

}

.social-icon{
    height: 12vw;
    width: 12vw;
    border: 2px solid var(--border);


    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



.more-info > div{
    margin-left: 50vw;
    margin-bottom: 3vh;
}


.more-info div{
    max-width: none !important;
}

.icon-more-info{

    height: 20vw;
    width: 20vw;
    border: 2px solid var(--border);


}

.heading-text-more-info{
    text-align: center;
    min-height: 20vw;
    height: auto;
    width: 40vw;
    border: 2px solid var(--border);
    font-size: 5vw;
    margin-bottom: 0% !important;

}

.toggle-control{
    height: 20vw;
    width: 20vw;
    border: 2px solid var(--border);

}

.subtext-more-info{
    text-align: center;
    height: 0vh;
    font-size: 5vw;
    border: 2px solid var(--border);
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.show-subtext-more-info{
    height: auto !important;
}

#sponsors{
    max-height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: flex-start;
}

#sponsors div{
    max-width: none;
}

#sponsors > div{
    margin-bottom: 0vh !important;
}

#sponsors > div > div{
    margin-bottom: 3vh;
}

.sponsor{
    height: 40vw;
    width: 70vw;
    border: 2px solid blue;

}

.portrait-media{
    height: 80vw;
    width: 65vw;
    border: 2px solid blue;
}

.subtext-about-founder{
    overflow: hidden;
    font-size: 6vw;
    border: 2px solid var(--border);
    transition: height 0.5s ease-in-out;
}

#about-founder > div > div{
    max-width: none;
}

#about-founder h2{
    white-space: nowrap;
}

.toggle-control-founder{
    height: 15vw;
    width: 15vw;
    border: 2px solid var(--border);
}






